<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
  <body>

    <div class="container">
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <h2>Tasks</h2>
        <a th:href="@{/task/add}" class="btn btn-primary btn-xs">Add task</a>
        <div th:if="${not #lists.isEmpty(tasks)}">
            <table class="table table-striped">
                <tr>
                    <th>Description</th>
                    <th>To</th>
                    <th>From</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"/>
                    <td th:text="${task.for_person}"/>
                    <td th:text="${task.from_person}"/>
                    <td th:text="${task.status}"/>
                    <td><a th:href="@{/task/edit(id=${task.id})}" class="btn btn-warning btn-xs">Edit</a></td>
                    <td><a th:href="@{/task/delete(id=${task.id})}" class="btn btn-danger btn-xs">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
  </body>
</html>
